@use "./hair-params";
@use "./skin-params";
@use "./body-params";

$tatpier-size: 10px;
$hns-size: 30px;
$main-sel: "li.hs-item";
$bottom-block-sel: "div.gpr-advanced-bottom-block";
$hair-sel: "div.gpr-advanced-hair-block";
$skin-sel: "div.gpr-advanced-skin-block";
$body-sel: "div.gpr-advanced-body-block";
$tattoo-sel: "div.gpr-advanced-tattoo-block";
$piercing-sel: "div.gpr-advanced-piercing-block";
$scamm-sel: "div.gpr-advanced-scamm-block";
$mistake-sel: "div.gpr-advanced-isMistake-block";
$notgoogle-sel: "div.gpr-advanced-notIndexedBySearchEngine-block";
@keyframes mistake-content {
    from {
        color: #ffffff00;
    }
    to {
        color: #ffffffff;
    }
}
@keyframes mistake-bg {
    from {
        background-color: none;
    }
    to {
        background-color: #b33;
        color: #ffffffff;
    }
}
@mixin tattoo-piercing {
    margin-top: 10px;
    float: left;
    width: $tatpier-size;
    height: $tatpier-size;
    border-radius: 50%;
}
@mixin scamm-mist {
    float: left;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
}
@mixin hns{
    float: left;
    font-weight: bolder;
    width: $hns-size;
    height: $hns-size;
    line-height: $hns-size;
}
#{$bottom-block-sel} {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-top: 3px;
    height: $hns-size;
    width: 100%;
    #{$hair-sel} {
        @include hns;
    }
    #{$skin-sel} {
        @include hns;
        margin-left: 5px;
    }
    #{$body-sel} {
        @include hns;
        margin-left: 5px;
    }
    #{$tattoo-sel} {
        @include tattoo-piercing();
        margin-left: 10px;
        vertical-align: middle;
    }
    #{$piercing-sel} {
        @include tattoo-piercing();
        margin-left: 7px;
        vertical-align: middle;
    }
    #{$scamm-sel} {
        @include scamm-mist();
        margin: 5px 0 0 10px;
        color: red;
        font-weight: bold;
    }
    #{$mistake-sel} {
        @include scamm-mist();
        margin: 5px 0 0 5px;
        border: 1px solid #bb3333;
        border-radius: 5px;
        color: #ffffff00;
        text-align: center;
    }
    #{$notgoogle-sel} {
        @include scamm-mist();
        margin: 5px 0 0 5px;
        color: darkblue;
        text-shadow: black;
    }
}

#{$main-sel} {
    &:has(input[id^="tattoo-"]:checked) {
        #{$tattoo-sel} {
            background-color: black;
        }
    }
    &:has(input[id^="piercing-"]:checked) {
        #{$piercing-sel} {
            background-color: goldenrod;
        }
    }
    &:has(input[id^="scammer-"]:checked) {
        #{$scamm-sel}:before {
            content: "Sc";
        }
    }
    &:has(input[id^="isMistake-"]:checked) {
        #{$mistake-sel} {
            // animation-name: mistake-bg;
            // animation-duration: 0;
            // animation-fill-mode: forwards;
            // animation-delay: .05s;
            background-color: #b33;
            transition: all .5s;
            &:before {
                content: "X";
                color: #ffffffff;
            }
        }
    }
    &:has(input[id^="notindexed-"]:checked) {
        #{$notgoogle-sel}:before {
            content: "G";
            text-decoration: line-through;
        }
    }
}