// @function assemble($text, $back, $front, $val) {
//     // @each $elem in $
// }
$main-sel: "li.gpr-advanced";
$bottom-block-sel: "div.gpr-advanced-bottom-block";
$hair-back-color: (
    #000,
    #f44,
    #5b3725,
    #e6efa6,
    #fefefe,
    ""
);
$hair-front-color: (
    #fefefe,
    #fefefe,
    #fefefe,
    #000,
    #000,
    #000
);
$hair-text: (
    "B",
    "R",
    "Br",
    "Bl",
    "W",
    "S/B"
);

$hair-values: (
    "1",
    "6",
    "2",
    "4",
    "7",
    "8"
);
// $hair-full-list: assemble($hair-text, $hair-back-color, $hair-front-color, $hair-values);

@each $text in $hair-text {
    $index: index($hair-text, $text);
    $val: nth($hair-values, $index);
    $front-color: nth($hair-front-color, $index);
    $back-color: nth($hair-back-color, $index);
    #{$main-sel} {
        &:has(div.hair-selector input[value="#{$val}"]:checked) {
            .gpr-advanced-hair-block {
                text-align: center;
                color: $front-color;
                background-color: $back-color;
                &:before {
                    content: $text;
                }
            }
        }
    }
}