//1 6 2 4 7 8
@use "sass:map";


////////////////////////////////
/////////HAIR SETS/////////////
//////////////////////////////
$black-hair: (
    "value": "1",
    "content": "B",
    "bg": #000,
    "col": #fafafa
);
$red-hair: (
    "value": "6",
    "content": "R",
    "bg": #f44,
    "col": #fafafa
);
$brown-hair: (
    "value": "2",
    "content": "Br",
    "bg": #5b3725,
    "col": #fafafa
);
$blonde-hair: (
    "value": "4",
    "content": "Bl",
    "bg": #e6efa6,
    "col": #454545
);
$white-hair: (
    "value": "7",
    "content": "W",
    "bg": #fefefe,
    "col": #232323
);
$shaven-hair: (
    "value": "8",
    "content": "SB",
    "bg": none,
    "col": #454545
);
////////////////////////////////
/////////SKIN SETS/////////////
//////////////////////////////
$black-skin: (
    "value": "1",
    "content": "BL",
    "bg": #000,
    "col": #fafafa
);
$caucasian-skin: (
    "value": "6",
    "content": "C",
    "bg": #fafafa,
    "col": #232323
);
$latin-skin: (
    "value": "4",
    "content": "L",
    "bg": #937C6B,
    "col": #fafafa
);
$asian-skin: (
    "value": "7",
    "content": "As",
    "bg": #f7ff16,
    "col": #454545
);
$me-skin: (
    "value": "8",
    "content": "M/E",
    "bg": #af6815,
    "col": #fafafa
);
$na-skin: (
    "value": "9",
    "content": "N/A",
    "bg": #900,
    "col": #fafafa
);

$hair-sets: (
    $black-hair,
    $red-hair,
    $brown-hair,
    $blonde-hair,
    $white-hair,
    $shaven-hair
);
$skin-sets: (
    $black-skin,
    $caucasian-skin,
    $latin-skin,
    $asian-skin,
    $me-skin,
    $na-skin,
);

$sets: (
    "hair": $hair-sets,
    "skin": $skin-sets
)