$html-width: 785px;
$html-height: 570px;
$main-margin: 10px;
$body-width: $html-width - $main-margin*2;
$body-height: $html-height - $main-margin*2;
$tab-header-height: 25px;
$tab-header-border: 4px;
$container-height: $body-height - $tab-header-height;
$header-tab-bgcolor: linear-gradient(180deg, rgba(172,172,172,1) 0%, rgba(69,69,69,1) 100%);;
$main-bg-color: whitesmoke;
$acc-header-height: 50px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
    width: $html-width;
    height: $html-height;
    background-color: blueviolet;
    vertical-align: middle;
    text-align: center;
    border: none;
 }
 body {
    margin: $main-margin;
    width: $body-width;
    height: $body-height;
 }
 #tabs {
   height: $tab-header-height;
 }
.tab-header {
   float: left;
   padding: 4px;
   margin-right: 3px;
   height: $tab-header-height;
   vertical-align: middle;
   background: $header-tab-bgcolor;
   user-select: none;
   cursor: default;
   border-top: 1px solid $header-tab-bgcolor;
}
.tab-header:first-of-type {
   border-radius: 20% 0 0 0;
}
.tab-header:last-of-type {
   border-radius: 0 25% 0 0;
}
.tab-header:last-of-type::after {
   clear: both;
}
.tab-header.active {
   background: rgb(140,140,140);
   background: linear-gradient(180deg,
          rgba(140,140,140,1) 0%,
          rgba(245,245,245,1) 40%);
   border-top: 1px solid black;
}
#container {
   padding: 10px;
   width: 100%;
   height: $container-height;
   background-color: $main-bg-color;
   overflow: auto;
   box-shadow: 4px 4px 4px rgb(108, 108, 108);
   font-size: 17px;
}
.tab-content{
   display: none;
}
.tab-content.active {
   display: block;
   width: 100%;
   height: 100%;
}
.accordeon-header {
   padding: 0 10px;
   height: $acc-header-height;
   line-height: $acc-header-height;
   background-color: azure;
   border: 1px solid black;
   border-radius: 5px;
   text-align: left;
   font-size: 15px;
   font-weight: bold;
}
.service-toggle {
   float: right;
}